<app-games-list></app-games-list>

<div class="container">
  <div class="row">
    <div class="col col-sm-12">
      <h2>Blacklist</h2>
    </div>
    <div class="col col-sm-12">
      <table
        id="blacklistTable"
        datatable
        [dtOptions]="dtOptions"
        [dtTrigger]="dtTrigger"
        class="table row-border table-hover"
      >
        <thead>
          <tr>
            <th>Title</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Rented for</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of blacklisted">
            <td>{{ item.game.title }}</td>
            <td>{{ item.customer.firstName }}</td>
            <td>{{ item.customer.lastName }}</td>
            <td>
              <p class="late">{{ item.difference.minutes }} minutes</p>
            </td>
          </tr>
        </tbody>
      </table>
      <button (click)="sendEmails()">Send Emails</button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
