<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>FTP</WebPublishMethod>
    <ResourceId>/subscriptions/991d8d19-be2f-4894-ae9b-d834a16180f6/resourceGroups/MVC-Zaliczenie_BoardGame/providers/Microsoft.Web/sites/GamesRental</ResourceId>
    <IsLinux>True</IsLinux>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://gamesrental.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>581eda1c-2e03-4916-8191-8274616f1ab2</ProjectGuid>
    <publishUrl>ftp://waws-prod-am2-465.ftp.azurewebsites.windows.net</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
    <FtpPassiveMode>True</FtpPassiveMode>
    <FtpSitePath>site/wwwroot</FtpSitePath>
    <UserName>GamesRental\$GamesRental</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>