.navbar{
  display:flex;
  justify-content: space-around;
}

#loginBtn, #logOutBtn{
  cursor: pointer;
}

#banner{
  height:600px;
  background: url('/assets/images/boardgames3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

#banner h1{
  font-size: x-large;
}
